*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.controles{
        padding: 20px;
        width: 800px;
        height: 100px;
        position: absolute;
        top: 19%;
        left: 50%;
        transform: translate(-50%, -50%);	
        text-align: center;
}

.header_style{
    background-color:  rgb(0,131,255);;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header_video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    
}
.header_content{
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 25%);
}
.header_content p{
    font-size: 80px;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
}

.header_video video{
    min-width: 100%;
    max-width: 100%;
}

.nav_style{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav_link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav_menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav_menu_item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav_menu_link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav_menu_link:hover{
    background-color: rgb(46, 45, 45);
    transition: 0.5s;
}